{% include 'includes/header.html' %}

  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>Current Location : </span><a href="../members.html">Group Members</a> &gt;&gt; Professor</div>
      <div class="page-single">
	  <!--S -->
	  <div id="zishu">
<div class="list">
 <a href="#"><div id="r3" class="cd1"></div></a>
 <div class="box">
     <div id="t3" class="ce1"></div>
     <div id="u3" class="cf1">
        <div class="box2"><div class="box2">
			<div id="container">
		  		<div id="leftContent"><img src="../images/photo/3.jpg"></div>
				<div id="rightContent"><a href="/"><br />陈建二</a><p>教授<br /> 博导</p></div>
  			</div>
			</div>
		</div>
     </div>
     <div id="y3" class="cg1">
   <a href="#"><div class="l1"></div></a>
  </div>
   </div>
</div>

<div class="list">
 <a href="#"><div id="r3" class="cd1"></div></a>
 <div class="box">
     <div id="t3" class="ce1"></div>
     <div id="u3" class="cf1">
        <div class="box2">
			<div id="container">
		  		<div id="leftContent"><img src="../images/photo/3.jpg"></div>
				<div id="rightContent"><a href="/"><br />王建新</a><p>教授<br /> 博导</p></div>
  			</div>
		</div>
     </div>
     <div id="y3" class="cg1">
   <a href="#"><div class="l1"></div></a>
  </div>
   </div>
</div>

<div class="list">
 <a href="#"><div id="r3" class="cd1"></div></a>
 <div class="box">
     <div id="t3" class="ce1"></div>
     <div id="u3" class="cf1">
        <div class="box2"><div class="box2">
			<div id="container">
		  		<div id="leftContent"><img src="../images/photo/3.jpg"></div>
				<div id="rightContent"><a href="/"><br />潘毅</a><p>教授<br /> 博导</p></div>
  			</div>
			</div>
		</div>
     </div>
     <div id="y3" class="cg1">
   <a href="#"><div class="l1"></div></a>
  </div>
   </div>
</div>

<div class="list">
 <a href="#"><div id="r3" class="cd1"></div></a>
 <div class="box">
     <div id="t3" class="ce1"></div>
     <div id="u3" class="cf1">
        <div class="box2"><div class="box2">
			<div id="container">
		  		<div id="leftContent"><img src="../images/photo/3.jpg"></div>
				<div id="rightContent"><a href="/"><br />曹建农</a><p>教授<br /> 博导</p></div>
  			</div>
			</div>
		</div>
     </div>
     <div id="y3" class="cg1">
   <a href="#"><div class="l1"></div></a>
  </div>
   </div>
</div>

<div class="list">
 <a href="#"><div id="r3" class="cd1"></div></a>
 <div class="box">
     <div id="t3" class="ce1"></div>
     <div id="u3" class="cf1">
        <div class="box2"><div class="box2">
			<div id="container">
		  		<div id="leftContent"><img src="../images/photo/3.jpg"></div>
				<div id="rightContent"><a href="/"><br />李敏</a><p>副教授<br /> 硕导</p></div>
  			</div>
			</div>
		</div>
     </div>
     <div id="y3" class="cg1">
   <a href="#"><div class="l1"></div></a>
  </div>
   </div>
</div>

</div>
<!--E -->

      </div>
    </div>
    <div class="page-left">
      <div class="left-about">
        <h2><span>Group Members</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
		    <li><a href="Professor.html" title="Professor"><span>Professor</span></a></li>
			<li><a href="Post_PhD.html" title="Post_PhD"><span>Post-PhD</span></a></li>
			<li><a href="PhD.html" title="PhD"><span>PhD</span></a></li>
			<li><a href="Master.html" title="Master"><span>Master</span></a></li>
          </ul>
        </div>
        <script type="text/javascript">
		ddsmoothmenu.init({
			mainmenuid: "LeftMenu", //Menu DIV id
			orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
			classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
			//customtheme: ["#804000", "#482400"],
			contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
			})
        </script>
      </div>
      
      <div class="left-contact">
        <h2><span>联系我们</span></h2>
        <div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://www.csu.edu.cn/" target="_blank">中南大学</a></h1>
				<p>Central South University</p>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
   		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/molnet_shbh/index.jsp" target="_blank">分子网络功能注释系统</a></h1>
				<p>1.生物实验数据在线统计学检验分析。<br />2.生物实验数据代谢通路、表达调控等全方位注释信息。<br />3.提供多种信息结果显示，有多种直观图形化的结果显示。</p>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/data_analysis/index.jsp" target="_blank">生物数据分析系统</a></h1>
				<p>1.高通量数据分析、显著性分析、聚类分析、相关分析、主成分分析<br />2.SNP分析、Hardy-Weinberg平衡、LD分析、单体型分析<br />3.医学统计分析、假设检验、方差分析、分参数检验、生存分析、回归分析等。</p>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
      </div>
    </div>
  </div>

{% include 'includes/footer.html' %}
