 <div class="left-contact">
        <h2><span>联系我们</span></h2>
        <div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://www.csu.edu.cn/" target="_blank">中南大学</a></h1>				
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
   		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/molnet_shbh/index.jsp" target="_blank">分子网络功能注释系统</a></h1>				
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/data_analysis/index.jsp" target="_blank">生物数据分析系统</a></h1>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
 </div>
