{% include 'includes/header.html' %}

  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>Current Location : </span>Contact</div>
      <div class="page-guestbook">
		Thank you for your message,we will reply you in 3 workdays.
		return
      </div>
    </div>
    <div class="page-left">
      
      <div class="index-search">
        <h2><span>联系我们</span></h2>
        <p><span>地址: </span>Room 302, Computer Building<br />
          Central South University<br />
          Changsha, Hunan,P. R. China
          <br />
          <span>邮编: </span>410083
          <br />
          <span>联系人: </span>LQ<br />
          <span>电话: </span>0731-68888888<br />
          <span>传真: </span>0731-68888888<br />
          <span>手机: </span>13688888888<br />
        <span>邮箱: </span>csu@csu.edu.cn</p>
      </div>
    </div>
  </div>
    
{% include 'includes/footer.html' %}
