{% include 'includes/header.html' %}

<div id="index_main" class="clearfix">
    <div class="index-left"> 	  
      <div class="index-products">
        <h2><span>Group Introdution</span></h2><p>
&nbsp;&nbsp;&nbsp; English。 </p>

	</div>
	<div class="index-about">
        <h2><span>Research Area</span></h2><p>
&nbsp;&nbsp;&nbsp;English </p>

	</div>
    </div>
    <div class="index-right">     
      <div class="index-jobs">
        <h2><a href="news/0"><img src="{{ MEDIA_URL }}images/more.gif" width="32" height="5" alt="Lab Events" /></a></h2>
        <ul>
			{% for news in news_list %}
				<li><a href="news/{{ news.id}}" title="实验室技术人员"><span>　-　{{ news.title }}</span></a></li>
			{% endfor%}
          
        </ul>
      </div>
	  
      {% include 'includes/friendlink.html' %}
    </div>
  </div>


{% include 'includes/footer.html' %}
