{% include 'includes/header.html' %}
{% load dictkey %}

  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>Current Location : </span>Group Members</div>
      <div class="page-single">
		  <table summary="List of new students 2003" class="datatable">
		  <caption>实验室成员分布</caption>
		  <tr>
			<th scope="col">Index</th>
			<th scope="col">Category</th>
			<th scope="col">Population</th>
		  </tr>
		  <!--{% for key,value in dicts.items %}
		  <tr class="{% cycle 'altrow' '' %}">
			<td>{{ forloop.counter }}</td>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		  </tr>
		  {% endfor %}
		  -->
		  <tr class="altrow">
			<td>1</td>
			<td>Professor</td>
			<td>{{ dicts|key:"Professor" }}</td>
		  </tr>
		  <tr>
			<td>2</td>
			<td>Visiting Scholar</td>
			<td>{{ dicts|key:"VisitingScholar" }}</td>		
		  </tr>
		  <tr class="altrow">
			<td>3</td>
			<td>Post Doctorate</td>
			<td>{{ dicts|key:"PostDoctorate" }}</td>		
		  </tr>
		  <tr>
			<td>4</td>
			<td>PhD Candidate</td>
			<td>{{ dicts|key:"PhDCandidate" }}</td>
		  </tr>
		  <tr class="altrow">
			<td>5</td>
			<td>PhD(Graduate)</td>
			<td>{{ dicts|key:"PhDGraduate" }}</td>		
		  </tr>
		  <tr>
			<td>6</td>
			<td>Master Candidate</td>
			<td>{{ dicts|key:"MasterCandidate" }}</td>		
		  </tr>		  
		  <tr class="altrow">
			<td>7</td>
			<td>Master(Graduate)</td>
			<td>{{ dicts|key:"MasterGraduate" }}</td>		
		  </tr>
		  <tr>
			<td>8</td>
			<td>Foreign Student</td>
			<td>{{ dicts|key:"ForeignStudent" }}</td>		
		  </tr>	
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		</table>
		
      </div>
    </div>
    <div class="page-left">
      <div class="left-about">
        <h2><span>Group Members</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
		    <li><a href="members/Professor.html" title="Professor"><span>Professor</span></a></li>
			<li><a href="members/VisitingScholar.html" title="Visiting Scholar"><span>Visiting Scholar</span></a></li>
			<li><a href="members/PostDoctorate.html" title="Post Doctorate"><span>Post Doctorate</span></a></li>
			<li><a href="members/PhDCandidate.html" title="PhD Candidate"><span>PhD Candidate</span></a></li>
			<li><a href="members/PhDGraduate.html" title="PhD(Graduate)"><span>PhD(Graduate)</span></a></li>
			<li><a href="members/MasterCandidate.html" title="Master Candidate"><span>Master Candidate</span></a></li>
			<li><a href="members/MasterGraduate.html" title="Master(Graduate)"><span>Master(Graduate)</span></a></li>
			<li><a href="members/ForeignStudent.html" title="Foreign Student"><span>Foreign Student</span></a></li>
          </ul>
        </div>       
      </div>
      
      {% include 'includes/friendlink.html' %}

    </div>
  </div>

{% include 'includes/footer.html' %}
