{% include 'includes/header.html' %}
{% load dictkey %}

  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>Current Location : </span>Group Members</div>
      <div class="page-single">
		  <table summary="List of new students 2003" class="datatable">
		  <caption>实验室成员分布</caption>
		  <tr>
			<th scope="col">Index</th>
			<th scope="col">Type</th>
			<th scope="col">人数</th>
		  </tr>
		  <!--{% for key,value in dicts.items %}
		  <tr class="{% cycle 'altrow' '' %}">
			<td>{{ forloop.counter }}</td>
			<td>{{ key }}</td>
			<td>{{ value }}</td>
		  </tr>
		  {% endfor %}
		  -->
		  <tr class="altrow">
			<td>1</td>
			<td>Professor</td>
			<td>{{ dicts|key:"Professor" }}</td>
		  </tr>
		  <tr>
			<td>2</td>
			<td>Post-PhD</td>
			<td>{{ dicts|key:"PostPhD" }}</td>		
		  </tr>
		  <tr class="altrow">
			<td>3</td>
			<td>PhD</td>
			<td>{{ dicts|key:"PhD" }}</td>
		  </tr>		  
		  <tr>
			<td>4</td>
			<td>Master</td>
			<td>{{ dicts|key:"Master" }}</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		</table>
		
      </div>
    </div>
    <div class="page-left">
      <div class="left-about">
        <h2><span>Group Members</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
		    <li><a href="members/Professor.html" title="Professor"><span>Professor</span></a></li>
			<li><a href="members/PostPhD.html" title="PostPhD"><span>PostPhD</span></a></li>
			<li><a href="members/PhD.html" title="PhD"><span>PhD</span></a></li>
			<li><a href="members/Master.html" title="Master"><span>Master</span></a></li>
          </ul>
        </div>       
      </div>
      
      {% include 'includes/friendlink.html' %}

    </div>
  </div>

{% include 'includes/footer.html' %}
