{% include 'includes/header.html' %}

  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>Current Location : </span>Projects</div>
      <div class="page-products">
     	<table summary="List of new students 2003" class="datatable">
		  <caption>项目总体分布</caption>
		  <tr>
			<th scope="col">Index</th>
			<th scope="col">项目来源</th>
			<th scope="col">数目</th>
		  </tr>
		  <tr class="altrow">
			<td>1</td>
			<td>国家自然科学基金项目</td>
			<td>5</td>
		  </tr>
		  <tr>
			<td>2</td>
			<td>教育部项目</td>
			<td>4</td>		
		  </tr>
		  <tr class="altrow">
			<td>3</td>
			<td>湖南省项目</td>
			<td>5</td>
		  </tr>
		  <tr>
			<td>4</td>
			<td>中南大学项目</td>
			<td>10</td>		
		  </tr>
		  <tr class="altrow">
			<td>5</td>
			<td>与其它单位合作项目</td>
			<td>5</td>
		  </tr>
			<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		  </tr>
		
		</table>
      </div>
    </div>
    <div class="page-left">
      <div class="left-products">
        <h2><span>Scientific Reserach Porject</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
		    <li><a href="project/NFSC.html" title="Research Project"><span>国家自然科学基金项目</span></a></li>
			<li><a href="project/Ministry.html" title="Patent"><span>教育部项目</span></a></li>
			<li><a href="project/Province.html" title="Patent"><span>湖南省项目</span></a></li>
			<li><a href="project/CSU.html" title="Patent"><span>中南大学项目</span></a></li>
			<li><a href="project/Cooperation.html" title="Paper"><span>与其它单位合作项目</span></a></li>
          </ul>
        </div>
      </div>

      {% include 'includes/friendlink.html' %}
    </div>
  </div>

{% include 'includes/footer.html' %}
