/* 框架---------------------------------------------------------------------------------------------开始 */
.kjjz{
	margin: auto;
}
.kj960{
	width: 960px;
}
.kj240{
	width: 240px;
}
.kj720{
	width: 720px;
}
.kj710{
	width: 710px;
}
.kj220{
	width: 220px;
}
.kj670{
	width: 670px;
}
.kj150{
	width: 150px;
}
.kj117{
	width: 117px;
}
.kj650{
	width: 650px;
}
/* 高度---------------------------------------------------------------------------------------------开始 */
.gd100{
	height: 100px;
}
/* 其他---------------------------------------------------------------------------------------------开始 */
.kj720bj1{
	background-image: url(../images/n2.jpg);
	background-repeat: no-repeat;
	height: 102px;
	width: 720px;
	overflow: hidden;
}
.kj960bj1{
	background-image: url(../images/n3.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 960px;
	overflow: hidden;
}
.kj710bj1{
	background-image: url(../images/n5.jpg);
	background-repeat: repeat-y;
	width: 710px;
}
.kj710bt1{
	background-image: url(../images/n4.jpg);
	background-repeat: no-repeat;
	height: 36px;
	width: 710px;
	line-height: 36px;
}
.kj240bt1{
	line-height: 36px;
	background-image: url(../images/n6.jpg);
	background-repeat: no-repeat;
	height: 36px;
	width: 240px;
}
.kj240bj1{
	background-image: url(../images/n7.jpg);
	background-repeat: repeat-y;
	width: 240px;
}
.kj220 li{
	float: left;
	width: 220px;
	font-size: 14px;
	line-height: 24px;
}
.kj670 li{
	float: left;
	width: 670px;
	font-size: 14px;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.kj958bt1{
	background-color: #D3F2BD;
	height: 30px;
	width: 958px;
	padding-left: 2px;
}
.kj670bt1{
	line-height: 30px;
	background-color: #F78827;
	height: 30px;
	width: 670px;
}
.kj670bt2{
	line-height: 30px;
	background-color: #7AC33D;
	height: 30px;
	width: 670px;
}
.kj710bj2{
	background-image: url(../images/n12.gif);
	background-repeat: repeat-y;
	width: 710px;
}
.kj710bt2{
	background-image: url(../images/n11.gif);
	background-repeat: no-repeat;
	height: 36px;
	width: 710px;
	line-height: 36px;
}