/* CSS Document */
  
table {border-collapse: collapse;border-spacing: 0;}    
fieldset,img {border: 0;}    
address,caption,cite,code,dfn,em,th,var {font-weight: normal;font-style: normal;}    
ol,ul {list-style: none;}    
caption,th {}    
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}    
q:before,q:after {content:'';}    
abbr,acronym { border: 0;}
.hide{ display:none;}
.hh{ word-wrap:break-word; white-space: normal; overflow: hidden;}
.hand{ cursor:pointer;}
.imgjz{
	vertical-align: middle;
}

