{% include 'includes/header.html' %}

  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>Current Location : </span><a href="../achievements.html">Achievements</a> &gt;&gt; Patents</div>
		 <table summary="List of new students 2003" class="datatable">
		  <caption>获得的专利</caption>		  
		  <tr>
			<th scope="col">Index</th>
			<th scope="col">Year</th>
			<th scope="col">Owner</th>
			<th scope="col">Name</th>
			<th scope="col">发明专利申请号</th>
		  </tr>
		  
		  {% for patent in achievement_list %}
		  <tr class="{% cycle 'altrow' '' %}">
			<td>{{ forloop.counter }}</td>
			<td>{{ patent.year }}</td>
			<td>{{ patent.owner }}</td>
			<td>{{ patent.name }}</td>
			<td>{{ patent.applicationNumber }}</td>
		  </tr>
		  {% endfor %}		  
		</table>
      	
    </div>
    <div class="page-left">
      <div class="index-news">
        <h2><span>Scientific Research Achievements</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
			<li><a href="JournalPaper.html" title="JournalPaper" {% ifequal menu_selected 'JournalPaper'%} id="menu_selected" {% endifequal %}><span>Journal Papers</span></a></li>
			<li><a href="ConferencePaper.html" title="ConferencePaper" {% ifequal menu_selected 'ConferencePaper'%} id="menu_selected" {% endifequal %}><span>Conference Papers</span></a></li>
			<li><a href="Patent.html" title="Patent" {% ifequal menu_selected 'Papent'%} id="menu_selected" {% endifequal %}><span>Patents</span></a></li>
			<li><a href="SoftwareCopyright.html" title="SoftwareCopyright" {% ifequal menu_selected 'SoftwareCopyright'%} id="menu_selected" {% endifequal %}><span>Software Copyright</span></a></li>
          </ul>
        </div>
        <script type="text/javascript">
		ddsmoothmenu.init({
			mainmenuid: "LeftMenu", //Menu DIV id
			orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
			classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
			//customtheme: ["#804000", "#482400"],
			contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
			})
        </script>
      </div>

      {% include 'includes/friendlink.html' %}
    </div>
  </div>
   
{% include 'includes/footer.html' %}
