
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSU Bioinformatics Group</title>
<meta name="robots" content="all" />
<meta name="keywords" content="CSU，Bioinformatics" />
<meta name="description" content="CSU，BioInfomatics。" />
<link href="{{ MEDIA_URL }}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/webmain.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/expension.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/friendLink.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.KinSlideshow-1.2.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/webtry_roll.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ddsmoothmenu.js"></script>

<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "MainMenu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
</script>
<script type="text/javascript">
function pucker_show(name,no,hiddenclassname,showclassname) {
    for (var i=1 ;i<7 ;i++ )
    {
        document.getElementById(name+i).className=hiddenclassname;
    }
    document.getElementById(name+no).className=showclassname;
}
</script>
<style type="text/css">
<!--
.STYLE1 {color: #000099}
-->
</style>
</head>
<body>
<div id="wrapper">
    <div class="top">
    	<img src="{{ MEDIA_URL }}images/logo.gif" width="650" height="90" alt="CSU Bioinformatics Group" />
    	<div id="lang"><a href="#"><img src="{{ MEDIA_URL }}images/gb.gif" width="16" height="11" alt="English" />English</a></div>
  	</div>
  	<div id="MainMenu" class="ddsmoothmenu">
		<ul>
		  <li><a href="index.html" title="Home Page" id="menu_selected"><span>Home</span></a></li>
		  <li><a href="members.html" title="Group Members"><span>Group Members</span></a></li>
		  <li><a href="project.html" title="Project"><span>Projects</span></a></li>
		  <li><a href="achievements.html" title="Achievements"><span>Achievemets</span></a></li>
		  <li><a href="download.html" title="Download"><span>Download</span></a></li>
		  <li><a href="contact.html" title="Contact Us"><span>Contact</span></a></li>
		  <!--<li><a href="news.html" title="Contact Us"><span>Contact</span></a></li>
		  <li><a href="guestbook.html" title="留言反馈"><span>1</span></a></li>
		  <li><a href="http://www.netgather.com" target="_blank" title="网聚网"><span>网聚网</span></a></li>-->
		</ul>
  	</div>
	<script type="text/javascript">
	$(function(){
		$("#banner").KinSlideshow({
				moveStyle:"right",
				titleBar:{titleBar_height:32,titleBar_bgColor:"#000",titleBar_alpha:0.7},
				titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
				btn:{btn_bgColor:"#2d2d2d",btn_bgHoverColor:"#1072aa",btn_fontColor:"#FFF",btn_fontHoverColor:"#FFF",btn_borderColor:"#4a4a4a",btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
		});
	})
	</script>
  <div id="banner">
    <a href="#"><img src="{{ MEDIA_URL }}img/banner01.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
    <a href="#"><img src="{{ MEDIA_URL }}img/banner02.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
    <a href="#"><img src="{{ MEDIA_URL }}img/banner03.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
  </div>
  <div id="index_main" class="clearfix">
    <div class="index-left"> 	  
      <div class="index-products">
        <h2><span>Group Introdution</span></h2><p>
&nbsp;&nbsp;&nbsp;计算机理论与软件研究所是在中南大学信息科学与工程学院和计算机科学与技术系多年进行算法优化及应用研究的基础上建立的。目前，依托中南大学计算机应用技术博士点、计算机软件与理论博士点与计算机科学与技术硕士点开展研究工作，并对国内外开放，在信息科学领域，享有一定知名度。 本研究所的主要研究方向为计算理论与算法、网络优化理论、无线通信系统、网络安全、生物信息学、软件工程和虚拟实验室 等，并已在这些方向上取得了显著成果。多年来，按照“研究求原创，技术求突破，成果促产业”的指导思想，在计算机软件与理论方面形成了一定特色和优势，尤其在参数计算及应用方面取得了世界领先的研究成果。研究所主任为陈建二教授，他是长江学者特聘教授，是参数计算理论的创始人之一，在计算机算法优化方面取得了许多世界领先的研究成果。研究所拥有博士生导师5人、正教授6人、副教授6人。此外，研究所还聘请了美国乔治亚州立大学的潘毅教授、香港理工大学的曹建农教授等作为研究所的客座研究员，他们每年在研究所进行1个月的研究工作。同时，有博士后5人、进修教师5人、博士研究生28人、硕士研究生48人的科研队伍。 近5年来，本研究所共承担国家"973"计划、"863"高技术计划、国家自然科学基金、湖南省杰出青年科学基金、省部委、国际合作与横向协作项目60多项，在Algorithmica、TCS、Bioinformatics等著名国际期刊上发表论文200多篇，其中参数计算和生物信息学方面的论文产生了广泛的世界性影响；此外，还出版若干学术著作和教材，相关成果得到了国际同行的引用和承认。自研究所创建以来，获多项国家和省部级奖励；与企业合作的过程中，工作成果已在信息安全、行业信息化、计算机教学等方面进行了推广应用，取得了良好的经济和社会效益。 在学术交流方面，先后与美、日、新加坡、加、澳等十几个国家以及港澳地区建立了合作科研、合作开发、联合培养研究生的关系；此外，还召开了一系列国际和国内学术会议，这些合作活动与学术交流对扩大研究所在国际上的影响，拓宽研究领域，提高学术水平和了解前沿研究动态等发挥了较大作用。 本研究所提倡多学科渗透，鼓励研究工作的结合和协同攻关，力求使研究所成为国内相关研究领域的重要研究基地，也成为国际学术交流的窗口，欢迎广大研究人员的关注和合作。 </p>

	</div>
	<div class="index-about">
        <h2><span>Research Area</span></h2><p>
&nbsp;&nbsp;&nbsp; 生物信息学是在生命科学的研究中，以计算机为工具对生物信息进行储存、检索和分析的科学。它是当今生命科学和自然科学的重大前沿领域之一，同时也将是21世纪自然科学的核心领域之一。在生物信息学中存在大量的难解问题，如何有效地求解这类问题是生物信息学领域的关键问题。 传统的算法理论的大量计算方法需要在指数时间级求解这些问题，这使得精确的解决这些问题是不可能。此外，巨大的计算量、复杂的噪声模式、海量的时变数据给传统的计算分析带来了巨大的困难。目前，求解这些问题的计算方法大多是近似算法和启发式算法。 在对实际问题的研究中发现，在许多难解问题中存在一定的参数，如果能有效利用这些参数，仍然可以有效地解决这些问题。本课题组正是以参数理论为基础，建立生物计算中基础问题的参数化计算模型。在参数求解方法的基础上，结合计算智能、数据挖掘等技术对生物问题进行系统研究，提出有效求解问题的理论、模型及算法。具体研究内容包括个体单体型重建、蛋白质网络和代谢网络的功能模块挖掘、蛋白质功能预测、关键蛋白质分析、基序查找等具体生物问题。目前已经取得了阶段性的研究成果，在Bioinformatics、BMC Bioinformatics、Algorithmica、计算机学报、软件学报等知名的国际和国内期刊上发表学术论文三十余篇。本课题小组的研究成果将为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展。 </p>

	</div>
    </div>
    <div class="index-right">     
      <div class="index-jobs">
        <h2><span>LAB Events</span><a href="jobs.html"><img src="images/more.gif" width="32" height="5" alt="Lab Events" /></a></h2>
        <ul>
          <li><a href="jobs.html" title="实验室技术人员"><span>　-　学校高性能计算平台试用申请</span></a></li>
          <li><a href="jobs.html" title="文员"><span>　-　高性能计算培训通知</span></a></li>
          <li><a href="jobs.html" title="销售代表"><span>　-　高性能计算平台硬盘占用严重超标...</span></a></li>
          <li><a href="jobs.html" title="销售主管"><span>　-　实验室考勤通知</span></a></li>
          <li><a href="jobs.html" title="营销总监"><span>　-　工程应用中复杂组合问题算法设计...</span></a></li>
		  <li><a href="jobs.html" title="销售主管"><span>　-　实验室考勤通知</span></a></li>
          <li><a href="jobs.html" title="营销总监"><span>　-　工程应用中复杂组合问题算法设计...</span></a></li>
		  <li><a href="jobs.html" title="销售主管"><span>　-　实验室考勤通知</span></a></li>
          <li><a href="jobs.html" title="营销总监"><span>　-　工程应用中复杂组合问题算法设计...</span></a></li>
		  <li><a href="jobs.html" title="销售主管"><span>　-　实验室考勤通知</span></a></li>
          <li><a href="jobs.html" title="营销总监"><span>　-　工程应用中复杂组合问题算法设计...</span></a></li>
        </ul>
      </div>
	  
      <div class="index-contact">
        <h2><span>联系我们</span></h2>
		
        <div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://www.csu.edu.cn/" target="_blank">中南大学</a></h1>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
   		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/molnet_shbh/index.jsp" target="_blank">分子网络功能注释系统</a></h1>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/data_analysis/index.jsp" target="_blank">生物数据分析系统</a></h1>
				
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
		
		</div>
    </div>
  </div>
 
    <div id="copyright"> Copyright ©2004-2011&nbsp;<a href="http://www.netgather.com" title="C">Central South University www.csu.edu.cn</a> All Rights Reserved.<br />
  </div>
</div>


</body>
</html>