<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSU-Bioinfomatics Group</title>
<meta name="robots" content="all" />
<meta name="keywords" content="CSU，Bioinformatic" />
<meta name="description" content="CSU，Bioinformatic。" />
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/webmain.css" rel="stylesheet" type="text/css" />
<link href="css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="css/expension.css" rel="stylesheet" type="text/css" />
<link href="css/friendLink.css" rel="stylesheet" type="text/css" />
<link href="css/master.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/font.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/jquery.KinSlideshow-1.2.1.js"></script>
<script type="text/javascript" src="scripts/webtry_roll.js"></script>
<script type="text/javascript" src="scripts/ddsmoothmenu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "MainMenu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
</script>
</head>
<body>
<div id="wrapper">
    <div class="top">
    <img src="images/logo.gif" width="650" height="90" alt="CSU Bioinformatics Group" />
    <div id="lang"><img src="images/gb.png" width="45" height="45" alt="visits" /><span class="STYLE1">Visits: 100</span></div>
  </div>
  <div id="MainMenu" class="ddsmoothmenu">
		<ul>
		  <li><a href="index.html" title="Home Page"><span>Home</span></a></li>
		  <li><a href="members.html" title="Group Members"><span>Group Members</span></a></li>
		  <li><a href="project.html" title="Achievements"><span>科研项目</span></a></li>
		  <li><a href="achievements.html" title="Achievements"><span>科研成果</span></a></li>
		  <li><a href="download.html" title="Download" id="menu_selected"><span>Download</span></a></li>
		  <li><a href="contact.html" title="Contact Us"><span>Contact</span></a></li>
		  <!--<li><a href="news.html" title="Contact Us"><span>Contact</span></a></li>
		  <li><a href="guestbook.html" title="留言反馈"><span>1</span></a></li>
		  <li><a href="http://www.netgather.com" target="_blank" title="网聚网"><span>网聚网</span></a></li>-->
		</ul>
  	</div>
<script type="text/javascript">
$(function(){
    $("#banner").KinSlideshow({
            moveStyle:"right",
            titleBar:{titleBar_height:32,titleBar_bgColor:"#000",titleBar_alpha:0.7},
            titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
            btn:{btn_bgColor:"#2d2d2d",btn_bgHoverColor:"#1072aa",btn_fontColor:"#FFF",btn_fontHoverColor:"#FFF",btn_borderColor:"#4a4a4a",btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
    });
})
</script>
  <div id="banner">
    <a href="#"><img src="images/banner01.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
    <a href="#"><img src="images/banner02.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
    <a href="#"><img src="images/banner03.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
  </div>
  <div id="page_main" class="clearfix">
   
      <div class="site-nav"><span>Current Location : </span><a href="download.html">Download</a> &gt;&gt; Software Details</div>
            
	  <!---内容--->
<div class="kj960 kjjz">
	<div class="kj960 zfd ys10">
	
		<div class="kj710 zfd">
			<div class="kj710 zfd">
				<div class="kj710bt1 zfd"><span class="yz30 zh14 zc">蛋白质网络分析工具</span></div>
				<div class="kj710bj1 zfd">
					<div class="kj670 zfd yz20 yz10ie6">
					
						<div class="kj670 zfd zs2 zh16 zc bkxxx1 zg30">功能描述:</div>
						<div class="kj670 zfd zh12 zg30">							
                            本系统作为分子网络功能注释平台，功能方面主要包括三个方面：<br />一、统计分析，其主要包括显著性
基因筛选、方差分析、聚类分析、PCA主成份分析；<br />二、序列分析，单挑或批量的测序核酸序列或蛋白序
列blast；<br />三、基因功能注释，主要包括染色体定位、Pathway分析、Go功能分析、蛋白互作分析、疾病
相关分析、miRNA分析。<br />
本系统包含两个角色：普通用户，使用该平台进行芯片分析、序列、基因注释；系统管理员，主要负
责分子注释相关数据库的维护与更新，页面数据的维护，及普通用户管理。
<br />
                            </div>
						<div class="kj670 zfd bk4z2 ys10">
							<div class="kj670bt1 zfd"><span class="yz10 zs3 zh14 zc">使用说明</span></div>
							<div class="kj670 zfd">
								<div class="kj650 zfd yz10 yz5ie6 zg22 ys5 yx5 zh12">
									1.生物实验数据在线统计学检验分析。<br />
									2.生物实验数据代谢通路、表达调控等全方位注释信息。<br />
									3.提供多种信息结果显示，有多种直观图形化的结果显示。
								</div>
							</div>
						</div>
						
						<div class="kj670 zfd bk4z1 ys10">
							<div class="kj670bt2 zfd"><span class="yz10 zs3 zh14 zc">实验数据</span></div>
							<div class="kj670 zfd">
								<div class="kj650 zfd yz10 yz5ie6 zg22 ys5 yx5 bkxxx1 zh12">实验数据1</div>
								<div class="kj650 zfd yz10 yz5ie6 zg22 ys5 yx5 bkxxx1 zh12">实验数据2</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="kj710 zfd"><img src="images/n9.jpg" /></div>
			</div>
			
			<div class="kj710 zfd ys10">
				<div class="kj710bt2 zfd"><span class="yz30 zh14 zc">相关软件</span></div>
				<div class="kj710bj2 zfd">
					<div class="kj670 zfd yz20 yz10ie6">
						<ul>
						  <li><a href="#">蛋白质</a></li>
						  <li><a href="#">SNP</a></li>
						  <li><a href="#">XXXXXX</a></li>
						  </ul>
					</div>
				</div>
				<div class="kj710 zfd"><img src="images/n13.gif" /></div>
			</div>
		</div>
		
		<div class="kj240 zfd yz10">
			<div class="kj240 zfd">
				<div class="kj240bt1 zfd"><span class="yz35 zh14 zc">下载</span></div>
				<div class="kj240bj1 zfd">
					<div class="kj220 zfd yz10 yz5ie6">
						<ul>
							<li>浏览次数：11</li>
							<li>下载次数：4</li>
							<li><a href="#">点此下载>>>>></a></li>
						</ul>
					</div>
				</div>
				<div class="kj240 zfd"><img src="images/n8.jpg" /></div>
			</div>
			<div class="kj240 zfd ys10"><a href="#"><img src="images/photo/2.jpg" border="0" /></a></div>
			<div class="kj240 zfd ys10"><a href="#"><img src="images/photo/3.jpg" border="0" /></a></div>
		</div>
		
	</div>
</div>
	       
  </div>
    <div id="copyright"> Copyright ©2004-2011&nbsp;<a href="http://www.netgather.com" title="上海网聚化工有限公司">Central South University www.csu.edu.cn</a> All Rights Reserved.
  </div>
</div>



</body>
</html>