@charset "utf-8";
/* CSS Document Download by http://www.codefans.net*/

#content,.intro{
font: 13px/25px;
width: 95%;
height: 30px;
background: #eee;
padding: 10px;
border: 4px #ccc double;
border-bottom:0;
overflow: hidden;
}

.intro{
color: #036;
font:12px;
border: 4px #ccc double;
border-top:0;
height:45px;
}
.key{color:#900;float:right}
hr{height:1px;border:1px #ccc dotted}