<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSU-Bioinfomatics Group</title>
<meta name="robots" content="all" />
<meta name="keywords" content="CSU，Bioinformatic" />
<meta name="description" content="CSU，Bioinformatic。" />
<link href="../css/reset.css" rel="stylesheet" type="text/css" />
<link href="../css/webmain.css" rel="stylesheet" type="text/css" />
<link href="../css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="../css/expension.css" rel="stylesheet" type="text/css" />
<link href="../css/friendLink.css" rel="stylesheet" type="text/css" />
<link href="../css/project.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../scripts/jquery.KinSlideshow-1.2.1.js"></script>
<script type="text/javascript" src="../scripts/webtry_roll.js"></script>
<script type="text/javascript" src="../scripts/ddsmoothmenu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "MainMenu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
</script>
</head>
<body>
<div id="wrapper">
    <div class="top">
    <img src="../images/logo.gif" width="650" height="90" alt="CSU Bioinformatics Group" />
    <div id="lang"><img src="../images/gb.png" width="45" height="45" alt="visits" /><span class="STYLE1">Visits: 100</span></div>
  </div>
  <div id="MainMenu" class="ddsmoothmenu">
		<ul>
		  <li><a href="../index.html" title="Home Page"><span>Home</span></a></li>
		  <li><a href="../members.html" title="Group Members"><span>Group Members</span></a></li>
		  <li><a href="../project.html" title="Projects" id="menu_selected"><span>Projects</span></a></li>
		  <li><a href="../achievements.html" title="Achievements"><span>Achievements</span></a></li>
		  <li><a href="../download.html" title="Download"><span>Download</span></a></li>
		  <li><a href="../contact.html" title="Contact Us"><span>Contact</span></a></li>
		  <!--<li><a href="news.html" title="Contact Us"><span>Contact</span></a></li>
		  <li><a href="guestbook.html" title="留言反馈"><span>1</span></a></li>
		  <li><a href="http://www.netgather.com" target="_blank" title="网聚网"><span>网聚网</span></a></li>-->
		</ul>
  </div>
<script type="text/javascript">
$(function(){
    $("#banner").KinSlideshow({
            moveStyle:"right",
            titleBar:{titleBar_height:32,titleBar_bgColor:"#000",titleBar_alpha:0.7},
            titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
            btn:{btn_bgColor:"#2d2d2d",btn_bgHoverColor:"#1072aa",btn_fontColor:"#FFF",btn_fontHoverColor:"#FFF",btn_borderColor:"#4a4a4a",btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
    });
})
</script>
  <div id="banner">
    <a href="#"><img src="../images/banner01.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
    <a href="#"><img src="../images/banner02.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
    <a href="#"><img src="../images/banner03.jpg" alt="为生物信息学中关键与热点问题提供新的理论基础与研究方法，以推动我国生物信息学研究以及计算机基础理论研究的发展！" width="950" height="152" /></a>
  </div>
  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>Current Location : </span><a href="../project.html">Projects</a> &gt;&gt; Cooperation Projects</div>
      <div class="page-products">
     	<div class="area2">
 	<div class="box3 l">
    	<div class="box1" onMouseOver="this.className='box2'" onMouseOut="this.className='box1'">
     		<div><b class="r2_1 l"></b><b class="r2_2 r"></b></div>
     		<div class="brd"><h1><a href="/" target="_blank" class="title">1. 国家自然科学基金重点项目</a></h1>
      			<div class="good_word">
       				项目名称：生物信息学中的相关组合理论、算法研究<br />
					项目编号：60433020<br />
					研究经费：180万<br />
					时间：2005.1-2008.12<br />
					项目负责人：陈建二 <br />					   
					<p>&nbsp;&nbsp;&nbsp;&nbsp; 			本项目主要研究生物信息学中计算问题的模型、算法及软件的基础理论与实用技术。以参数计算理论系统研究生物计算问题，并开发出行之有效的生物计算软件，克服目前由于计算机资源的限制所造成的生物计算瓶颈，大大提高生物计算的能力和效率，以推动整个生物计算科学的发展。<br />
              &nbsp;&nbsp;&nbsp;&nbsp;               以参数理论为基础，建立生物计算中基础问题的参数化计算模型，研究参数计算算法。在参数求解方法的基础上，结合计算智能技术、数据挖掘等技术，对生物热点问题进行系统研究，提出系统求解问题的理论、模型及算法，利用生物遗传学真实数据，通过设计与实现的生物计算软件进行具体生物计算问题求解方法的验证与真实求解。<br />
              &nbsp;&nbsp;&nbsp;&nbsp;               项目的研究成果将为系统解决生物信息学中关键与热点问题提供新的理论基础与研究方法，这将大大推动我国生物信息学研究的进展，还将推进我国计算机基础理论的研究，对了解生命起源，了解人类自身，对医药、保健、农业发展等都将起到极大的促进作用。</p>

       				<div class="clear"></div>
      			</div>
     		</div>
     		<div><b class="r2_3 l"></b><b class="r2_4 r"></b></div>
    	</div>
   </div>
   
   <div class="box3 l">
    	<div class="box1" onMouseOver="this.className='box2'" onMouseOut="this.className='box1'">
     		<div><b class="r2_1 l"></b><b class="r2_2 r"></b></div>
     		<div class="brd"><h1><a href="/" target="_blank" class="title">1. 国家自然科学基金重点项目</a></h1>
      			<div class="good_word">
       				项目名称：生物信息学中的相关组合理论、算法研究<br />
					项目编号：60433020<br />
					研究经费：180万<br />
					时间：2005.1-2008.12<br />
					项目负责人：陈建二 <br />		

       				<div class="clear"></div>
      			</div>
     		</div>
     		<div><b class="r2_3 l"></b><b class="r2_4 r"></b></div>
    	</div>
   </div>
   
   <div class="box3 l">
    	<div class="box1" onMouseOver="this.className='box2'" onMouseOut="this.className='box1'">
     		<div><b class="r2_1 l"></b><b class="r2_2 r"></b></div>
     		<div class="brd"><h1><a href="/" target="_blank" class="title">1. 国家自然科学基金重点项目</a></h1>
      			<div class="good_word">
       				项目名称：生物信息学中的相关组合理论、算法研究<br />
					项目编号：60433020<br />
					研究经费：180万<br />
					时间：2005.1-2008.12<br />
					项目负责人：陈建二 <br />		

       				<div class="clear"></div>
      			</div>
     		</div>
     		<div><b class="r2_3 l"></b><b class="r2_4 r"></b></div>
    	</div>
   </div>
   
   <div class="box3 l">
    	<div class="box1" onMouseOver="this.className='box2'" onMouseOut="this.className='box1'">
     		<div><b class="r2_1 l"></b><b class="r2_2 r"></b></div>
     		<div class="brd"><h1><a href="/" target="_blank" class="title">1. 国家自然科学基金重点项目</a></h1>
      			<div class="good_word">
       				项目名称：生物信息学中的相关组合理论、算法研究<br />
					项目编号：60433020<br />
					研究经费：180万<br />
					时间：2005.1-2008.12<br />
					项目负责人：陈建二 <br />		

       				<div class="clear"></div>
      			</div>
     		</div>
     		<div><b class="r2_3 l"></b><b class="r2_4 r"></b></div>
    	</div>
   </div>
   
   <div class="box3 l">
    	<div class="box1" onMouseOver="this.className='box2'" onMouseOut="this.className='box1'">
     		<div><b class="r2_1 l"></b><b class="r2_2 r"></b></div>
     		<div class="brd"><h1><a href="/" target="_blank" class="title">1. 国家自然科学基金重点项目</a></h1>
      			<div class="good_word">
       				项目名称：生物信息学中的相关组合理论、算法研究<br />
					项目编号：60433020<br />
					研究经费：180万<br />
					时间：2005.1-2008.12<br />
					项目负责人：陈建二 <br />		

       				<div class="clear"></div>
      			</div>
     		</div>
     		<div><b class="r2_3 l"></b><b class="r2_4 r"></b></div>
    	</div>
   </div>
   
</div>
      </div>
    </div>
    <div class="page-left">
      <div class="left-products">
        <h2><span>Scientific Reserach Porject</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
		    <li><a href="NFSC.html" title="Research Project"><span>国家自然科学基金项目</span></a></li>
			<li><a href="MinistryEdu.html" title="Patent"><span>教育部项目</span></a></li>
			<li><a href="Province.html" title="Patent"><span>湖南省项目</span></a></li>
			<li><a href="School.html" title="Patent"><span>中南大学项目</span></a></li>
			<li><a href="Cooperation.html" title="Paper"><span>与其它单位合作项目</span></a></li>
          </ul>
        </div>
        <script type="text/javascript">
		ddsmoothmenu.init({
			mainmenuid: "LeftMenu", //Menu DIV id
			orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
			classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
			//customtheme: ["#804000", "#482400"],
			contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
			})
        </script>
      </div>
      <div class="left-contact">
        <h2><span>联系我们</span></h2>
        <div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://www.csu.edu.cn/" target="_blank">中南大学</a></h1>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
   		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/molnet_shbh/index.jsp" target="_blank">分子网络功能注释系统</a></h1>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
		<div class="xsnazzy">
			<b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
			</b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
			<div class="xboxcontent">
				<h1 class="color_a"><a href="http://202.197.66.228/portal/root/data_analysis/index.jsp" target="_blank">生物数据分析系统</a></h1>
			</div>
			<b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
			<b class="xb2"></b><b class="xb1"></b></b>
		</div>
      </div>
    </div>
  </div>
    <div id="copyright"> Copyright ©2004-2011&nbsp;<a href="http://www.netgather.com" title="上海网聚化工有限公司">Central South University www.csu.edu.cn</a> All Rights Reserved.
  </div>
  

</div>
</body>
</html>